<div id="notfound">
    <div class="notfound text-center mt-5 mb-5">
        <img class="mt-5" style="border-radius: 1%;" src="~/Images/ErrorPages/notFound.png" alt="Generic placeholder image" height="140" width="140">
        <h2 class="mt-3"><span class="text-danger">OOPS!</span> PAGE NOT BE FOUND</h2>
        <p>@ViewBag.ErrorDescription</p>
        <a href="@Url.Action("Index", "Home")" style="text-decoration: none;">Back to homepage</a>
    </div>
</div>