<div id="notfound">
    <div class="notfound text-center mt-5 mb-5">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2><span class="text-danger">OOPS!</span> PAGE NOT BE FOUND</h2>
        <p>@ViewBag.ErrorDescription</p>
        <a href="@Url.Action("Index", "Home")" style="text-decoration: none;">Back to homepage</a>
    </div>
</div>