<main class="container mt-5">


    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-2 mb-4 fst-italic border-bottom text-center">
                About Car Page
            </h3>

            <img class="img-fluid mt-3 mx-auto d-block rounded" style="height: auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/2015-bmw-x6.jpg/1200px-2015-bmw-x6.jpg">

            <article class="blog-post mt-2">
                <h2 class="blog-post-title">BMW X6 Competition</h2>
                <p class="blog-post-meta">Published: January 1, 2021 by <a href="#">Mark</a></p>

                <p>This blog post shows several different types of content that were provided by the author who posted the offer. The campaign is not responsible for the basic typography, lists, tables, images, information and much more posted. The author himself takes responsibility.</p>
                <hr>
            </article>

            <article class="blog-post">
                <h3>Vehicle location</h3>
                <p>You can see vehicle location on the map and check if it suits you:</p>
                <div class="mt-4 mb-2">
                    <div class="container-fluid">
                        <div id="map" class="text-center" style="height: 400px; width: 100%;"></div>
                        <script>
                            var map;
                            function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: { lat: 53.90588468960213, lng: 27.555191727187893 },
                                    zoom: 11
                                });

                                var marker = new google.maps.Marker(
                                {
                                    position: new google.maps.LatLng(53.90588468960213, 27.555191727187893),
                                    map: map
                                });
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9AIXs7jB_3r8oRc1zd0i9p0nanEH5Q6M&callback=initMap" async defer></script>
                    </div>
                </div>
                <hr>
            </article>

            <article class="blog-post">
                <h3>Information table</h3>
                <p>Here you can see all the detailed information about the vehicle:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-center">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--Год выуска-->
                            <td>Production year</td>
                            <td class="text-center">2021</td>
                        </tr>
                        <tr>
                            <!--Скорость автомобиля-->
                            <td>Max speed</td>
                            <td class="text-center">White</td>
                        </tr>
                        <tr>
                            <!--Внешний цвет автомобиля-->
                            <td>Exterior color</td>
                            <td class="text-center">White</td>
                        </tr>
                        <tr>
                            <!--Цвет салона-->
                            <td>Interior color</td>
                            <td class="text-center">Black</td>
                        </tr>
                        <tr>
                            <!--Трансмиссия-->
                            <td>Drivetrain</td>
                            <td class="text-center">Black</td>
                        </tr>
                        <tr>
                            <!--Тип топлива-->
                            <td>Fuel type</td>
                            <td class="text-center">Black</td>
                        </tr>
                        <tr>
                            <!--Коробка передач-->
                            <td>Drivetrain</td>
                            <td class="text-center">Black</td>
                        </tr>
                        <tr>
                            <!--Тип двигателя-->
                            <td>Engine</td>
                            <td class="text-center">Black</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Times ordered</td>
                            <td class="text-center">21</td>
                        </tr>
                    </tfoot>
                </table>

                <p class="mt-4">This data was provided by the user who posted it. Our company is not responsible for the information you can see on this page.</p>
            </article>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 4rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Description</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>

                <div class="ml-4 mt-4">
                    <h4 class="fst-italic mb-3">Rating (0 reviews)</h4>
                    <span class="h6 mr-1">Condition:</span>
                    <span class="card-text">3.6 </span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star-half-stroke" style="color: orange"></span>
                    <span class="fa fa-star"></span>
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">Fuel consumption:</span>
                    <span class="card-text">3.6 </span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star-half-stroke" style="color: orange"></span>
                    <span class="fa fa-star"></span>
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">Easy to drive:</span>
                    <span class="card-text">3.6 </span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star-half-stroke" style="color: orange"></span>
                    <span class="fa fa-star"></span>
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">Family-friendly:</span>
                    <span class="card-text">3.6 </span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star-half-stroke" style="color: orange"></span>
                    <span class="fa fa-star"></span>
                </div>

                <div class="ml-4 mt-1">
                    <span class="h6 mr-1">SUV:</span>
                    <span class="card-text">3.6 </span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star-half-stroke" style="color: orange"></span>
                    <span class="fa fa-star"></span>
                </div>

                <div class="ml-4 mt-4">
                    <span class="h4 mr-1">Overall:</span>
                    <span class="card-text">3.6 </span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star checked" style="color: orange"></span>
                    <span class="fa fa-star-half-stroke" style="color: orange"></span>
                    <span class="fa fa-star"></span>
                </div>

                <div class="ml-4 mt-4">
                    <h4 class="fst-italic">Price</h4>
                    <h4 class="card-text">20 $<span class="text-muted h5">/hr - </span>180 $<span class="text-muted h5">/day</span></h4>
                </div>

                <nav class="blog-pagination ml-4 mt-4" aria-label="Pagination">
                    <a class="btn btn-outline-primary mr-2" href="#">Order</a>
                    <a class="btn btn-outline-secondary" asp-controller="CarSharing" asp-action="Index">Get back</a>
                </nav>
            </div>
        </div>
    </div>

</main>