<div class="modal fade" id="searchByCriteriaModal" tabindex="-1" aria-labelledby="searchByCriteriaModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Advanced search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <p>This is a modal sheet, a variation of the modal that docs itself to the bottom of the viewport like the newer share sheets in iOS.</p>

                <div class="d-flex flex-column col-lg-6">
                    <label for="priceRangeInput" class="form-label">Example range</label>
                    <input type="range" class="form-range" min="1" max="9999" id="priceRangeInput">
                </div>
                <div class="d-flex flex-column col-lg-6">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="includePriceSearch" />
                        <label class="form-check-label" for="includePriceSearch"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Save changes</button>
                <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>