<div id="catalogCarousel" class="carousel slide mt-5" data-bs-ride="carousel" style="max-width: 1024px; margin: auto;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#catalogCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#catalogCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#catalogCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="~/Images/CatalogPage/slider_image1.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="https://picsum.photos/1024/300?grayscale" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="https://picsum.photos/1023/300?grayscale" class="d-block w-100" alt="">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#catalogCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#catalogCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section class="mt-5 text-center container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Explore SamSolutions Vehicles Prices for Daily and Hourly Rental</h1>
            <p class="lead text-muted">All vehicles are available for the rent and were provided by different people all over the world. Share your personal vehicles, rent them from other customers and feel all the charm and comfort of SamVehicles service.</p>
            <p>
                <button id="searchByCriteriaBtn" type="button" class="btn btn-primary my-2 me-1" data-bs-toggle="modal" data-bs-target="#searchByCriteriaModal">Search vehicles by criteria</button>

                <a asp-controller="SearchNearbyVehicles" asp-action="Index" class="btn btn-secondary my-2">Search nearby vehicles</a>
            </p>
        </div>
    </div>
</section>

<h1 class="fw-light d-flex justify-content-center mt-4">Choose vehicle that suits you</h1>

<div id="vehiclesPartialZone">

</div>

<div id="filterModalPartialZone">

</div>


<script src="~/js/catalogPage.js" asp-append-version="true"></script>

<script>
    $('#vehiclesPartialZone').load("/catalog/vehiclesPartial");
    $('#filterModalPartialZone').load("/catalog/advancedFilterPartial");
</script>
