<h1 class="pt-5 mb-4" style="color:black; text-align:center">Explore Sam Car's Prices for Daily and Hourly Car Rental</h1>

<hr class="featurette-divider mt-2 mb-3">

<div class="d-flex flex-row col-sm-12 ">
    <label class="mr-2">Show</label>
    <form asp-controller="Catalog" asp-action="Index" method="post" >
        <select name="pageSize" id="totalVehiclesDisplayedSelect" class="custom-select custom-select-sm form-control form-control-sm">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="9">9</option>
            <option value="12">12</option>
            <option value="15">15</option>
        </select>
        <button id="changeNumberOfVehiclesBtn" type="submit" class="visually-hidden"></button>
    </form>
    <label class="ml-2">vehicles</label>
    <div class="d-flex flex-row ml-auto">
        <label class="mr-2">Search:</label>
        <input id="searchCarInput" type="search" class="form-control form-control-sm" placeholder="Type here" style="width:70%">
    </div>
</div>

<div id="vehiclesPartialZone">

</div>

<script src="~/js/catalogPage.js" asp-append-version="true"></script>

<script>
    $('#vehiclesPartialZone').load("/Catalog/VehiclesCatalogPartial");
</script>
